{% extends 'adminBase.html.twig' %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">Contenu du jeu</h1>

    <div class="row">
        <div class="col-lg-12">

            <h2>Contenu du jeu <a href="{{ path('add_content') }}"><img class="ml-2" src="{{asset('IMG/add_circle_outline-white-24dp.svg')}}" alt="ajouter"></a></h2>

            <table class="table table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Libellé</th>
                        <th>Descriptions</th>
                        <th>Catégorie</th>
                        <th class="text-center">Editer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for word in allWords %}
                        {% if word.yellowCard is not null and word.blueCard is not null %}
                            <tr class="yellow-blue-card">
                        {% elseif word.yellowCard is not null %}
                            <tr class="yellow-card">
                        {% elseif word.blueCard is not null %}
                            <tr class="blue-card">
                        {% else %}
                            -
                        {% endif %}
                            <td class="color-card">{{ word.name }}</td>
                            <td>{{ word.description }}</td>
                            <td>
                                {% for category in word.category %}
                                    {% if loop.first %}
                                        {{ category.title }}
                                    {% else %}
                                        - {{ category.title }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center"><span class="material-icons"><a href="{{ path('edit_content', {'id' : word.id }) }}"><img src="{{asset('IMG/create-white-18dp.svg')}}" alt="éditer"></a></span>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
