{% extends 'adminBase.html.twig' %}

{% block title %} - {{ pageModTitle }} de Contenu{% endblock %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">{{ pageModTitle }} de Contenu</h1>

    <div class="d-flex flex-column flex-wrap m-2 mt-4 row">
        {% if pageModTitle == "Création" %}
            {{ form_start(responseForm, {'action': path('admin_add_content')} )}}
        {% else %}
            {{ form_start(responseForm, {'action': path('admin_edit_content', {'content' : content.id }) }) }}
        {% endif %}

            <div class="row mt-4 mb-4">
                <div class="col-md-6 mt-4 form-group">
                    {{ form_row(responseForm.name)}}
                </div>
                <div class="col-md-6 mt-4 form-group">
                    {{ form_row(responseForm.description)}}
                </div>
                <div class="col-md-6 mt-4 form-group">
                    {{ form_row(responseForm.category, {'attr': {'class': 'selectpicker'}})}}
                </div>
                {# <div class="col-md-6 mt-4 form-group">
                    <label for="add-category">Créer une nouvelle catégorue</label>
                    <input type="text" class="form-control" id="add-category" placeholder="">
                </div> #}
            </div>
            <div class="row mt-4 mb-4 form-group d-flex justify-content-center " id="blue_card">
                {% if pageModTitle == "Création" %}
                    <input type="submit" class="btn btn-primary btn-lg m-2" value="Créer">
                {% else %}
                    <input type="submit" class="btn btn-primary btn-lg m-2" value="Editer">
                {% endif %}
                    <a href="{{ path('admin_show_content') }}" class="btn btn-danger btn-lg m-2">Annuler</a>
            </div>

        {{ form_end(responseForm)}}
    </div>
{% endblock %}