{% extends 'adminBase.html.twig' %}

{% block title %} - {{ pageModTitle }} d'une Edition{% endblock %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">{{ pageModTitle }} d'une Edition</h1>

    <div class="d-flex flex-column flex-wrap m-2 mt-4 row">
        {% if pageModTitle == "Création" %}
            {{ form_start(editionForm, {'action': path('admin_add_edition')} )}}
        {% else %}
            {{ form_start(editionForm, {'action': path('admin_edit_edition', {'edition' : edition.id }) }) }}
        {% endif %}

            <div class="row mt-4 mb-4">
                <div class="col-md-4 mt-4">
                    {{ form_row(editionForm.title)}}
                </div>
                <div class="col-md-4 mt-4">
                    {{ form_row(editionForm.color)}}
                </div>
                <div class="col-md-4 mt-4">
                    {{ form_row(editionForm.logo)}}
                </div>
            </div>
            <div class="row mt-4 mb-4 form-group d-flex justify-content-center " id="blue_card">
                {% if pageModTitle == "Création" %}
                    <input type="submit" class="btn btn-primary btn-lg m-2" value="Créer">
                {% else %}
                    <input type="submit" class="btn btn-primary btn-lg m-2" value="Editer">
                {% endif %}
                    <a href="{{ path('admin_dashboard') }}" class="btn btn-danger btn-lg m-2">Annuler</a>
            </div>

        {{ form_end(editionForm)}}
    </div>

{% endblock %}