{% extends 'adminBase.html.twig' %}

{% block title %} - {{ pageModTitle }} d'une Carte{% endblock %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">{{ pageModTitle }} d'une Carte</h1>

    <div class="d-flex flex-column flex-wrap m-2 mt-4 row">
        {% if pageModTitle == "Création" %}
            {{ form_start(cardForm, {'action': path('admin_add_card')} )}}
        {% else %}
            {{ form_start(cardForm, {'action': path('admin_edit_card', {'id' : card.id }) }) }}
        {% endif %}

            <div class="row mt-4 mb-4">
                <div class="col-md-6 mt-4">
                    {{ form_row(cardForm.edition, {'attr': {'class': 'selectpicker'}})}}
                </div>
            </div>

            <div class="row mt-4 mb-4 form-group" id="yellow_card">
                <h2>Coté jaune</h2>
                <legend>Sélectionner une réponse existant OU en Créer une nouvelle</legend>
                <div class="form-group col-md-6 mt-4">
                    <label for="yellow_card_response" class="col-12">Sélectionner Réponse</label>
                    <select id="yellow_card_response" name="card[yellowResponse][id]" data-width="100%" class="selectpicker" data-live-search="true" data-size="auto" title="Rechercher une réponse">
                            <option class="no-yellow-response-selected" selected value=""></option>
                        {% for response in allResponses %}
                            {% if card is defined and response == card.yellowContent.content %}
                            <option class="yellow-response-selected" selected value="{{ response.id }}">{{ response.name }}</option>
                            {% else %}
                            <option class="yellow-response-selected" value="{{ response.id }}">{{ response.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div id="new-yellow-response" class="d-flex flex-wrap justify-content-center form-group col-12 mt-4 jumbotron">
                    <h3 class="text-center col-12">Créer une Réponse</h3>
                    <div class="form-group col-md-6 mt-4">
                        <label for="yellow_card_name" class="required">Réponse</label>
                        <input type="text" id="yellow_card_name" name="card[yellowContent][name]" autofocus="autofocus" maxlength="255" class="form-control" />
                    </div>
                    <div class="form-group col-md-6 mt-4">
                        <label for="yellow_card_category">Catégorie(s)</label>
                        <select id="yellow_card_category" name="card[yellowContent][category][]" data-width="100%" class="selectpicker" data-live-search="true" data-size="auto" multiple data-selected-text-format="count > 3" title="Rattacher une ou des catégories">
                            {% for category in allCategories %}
                                <option  style="background: {{ category.color }}; color: #fff;" value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="yellow_card_description">Description</label>
                        <textarea id="yellow_card_description" name="card[yellowContent][description]" maxlength="255" class="form-control" /></textarea>
                    </div>
                </div>
            </div>

            <div class="row mt-4 mb-4 form-group" id="blue_card">
                <h2>Coté bleu</h2>
                <legend>Sélectionner une réponse existant OU en Créer une nouvelle</legend>
                <div class="form-group col-md-6 mt-4">
                    <label for="blue_card_response" class="col-12">Sélectionner Réponse</label>
                    <select id="blue_card_response" name="card[blueResponse][id]" data-width="100%" class="selectpicker" data-live-search="true" data-size="auto" title="Rechercher une réponse">
                            <option class="no-blue-response-selected" selected value=""></option>
                        {% for response in allResponses %}
                            {% if card is defined and response == card.blueContent.content %}
                            <option class="blue-response-selected" selected value="{{ response.id }}">{{ response.name }}</option>
                            {% else %}
                            <option class="blue-response-selected" value="{{ response.id }}">{{ response.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
                <div id="new-blue-response" class="d-flex flex-wrap justify-content-center form-group col-12 mt-4 jumbotron">
                    <h3 class="text-center col-12">Créer une Réponse</h3>
                    <div class="form-group col-md-6 mt-4">
                        <label for="blue_card_name" class="required">Réponse</label>
                        <input type="text" id="blue_card_name" name="card[blueContent][name]" maxlength="255" class="form-control" />
                    </div>
                    <div class="form-group col-md-6 mt-4">
                        <label for="blue_card_category">Catégorie(s)</label>
                        <select id="blue_card_category" name="card[blueContent][category][]" data-width="100%" class="selectpicker" data-live-search="true" data-size="auto" multiple data-selected-text-format="count > 3" title="Rattacher une ou des catégories">
                            {% for category in allCategories %}
                                <option  style="background: {{ category.color }}; color: #fff;" value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col-md-12">
                        <label for="blue_card_description">Description</label>
                        <textarea id="blue_card_description" name="card[blueContent][description]" maxlength="255" class="form-control" /></textarea>
                    </div>
                </div>
            </div>
            <div class="row mt-4 mb-4 form-group d-flex justify-content-center " id="blue_card">
                {% if pageModTitle == "Création" %}
                    <input type="submit" class="btn btn-primary btn-lg m-2" value="Créer">
                {% else %}
                    <input type="submit" class="btn btn-primary btn-lg m-2" value="Editer">
                {% endif %}
                    <a href="{{ path('admin_show_cards') }}" class="btn btn-danger btn-lg m-2">Annuler</a>
            </div>

        {{ form_end(cardForm)}}
    </div>
{% endblock %}


{% block javascripts %}
    <script src="{{asset('JS/category.js')}}"></script>
{% endblock %}