{% extends 'adminBase.html.twig' %}

{% block title %} - {{ pageModTitle }} d'une Catégorie{% endblock %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">{{ pageModTitle }} d'une Catégorie</h1>

    <div class="d-flex flex-column flex-wrap m-2 mt-4 row">
        {% if pageModTitle == "Création" %}
            {{ form_start(categoryForm, {'action': path('add_category')} )}}
        {% else %}
            {{ form_start(categoryForm, {'action': path('edit_category', {'id' : category.id }) }) }}
        {% endif %}

            <div class="row mt-4 mb-4">
                <div class="col-md-6 mt-4">
                    {{ form_row(categoryForm.title)}}
                </div>
                <div class="col-md-6 mt-4">
                    {{ form_row(categoryForm.description)}}
                </div>
                <div class="col-md-6 mt-4">
                    {{ form_row(categoryForm.color, {'attr': {'class': 'colorpicker'}})}}
                </div>
                <div class="col-md-6 mt-4">
                    {{ form_row(categoryForm.parentCategory, {'attr': {'class': 'selectpicker'}})}}
                </div>
            </div>
            <div class="row mt-4 mb-4 form-group d-flex justify-content-center " id="blue_card">
                {% if pageModTitle == "Création" %}
                    <input type="submit" class="btn btn-primary btn-lg" value="Créer">
                {% else %}
                    <input type="submit" class="btn btn-primary btn-lg" value="Editer">
                {% endif %}
            </div>

        {{ form_end(categoryForm)}}
    </div>
{% endblock %}