{% extends 'adminBase.html.twig' %}

{% block title %}Time's Up Admin - {{ pageModTitle }} d'une Edition{% endblock %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">{{ pageModTitle }} d'une Edition</h1>

    <div class="d-flex flex-column flex-wrap m-2 mt-4 row">
        {% if pageModTitle == "Création" %}
            {{ form_start(editionForm, {'action': path('add_edition')} )}}
        {% else %}
            {{ form_start(editionForm, {'action': path('edit_edition', {'id' : edition.id }) }) }}
        {% endif %}

            <div class="row mt-4 mb-4">
                <div class="col-md-4 mt-4">
                    {{ form_row(editionForm.title)}}
                </div>
                <div class="col-md-4 mt-4">
                    {{ form_row(editionForm.color)}}
                </div>
                <div class="col-md-4 mt-4">
                    {{ form_row(editionForm.logo)}}
                </div>
            </div>
            <input type="submit" class="btn btn-primary mt-4" value="
                {% if pageModTitle == "Création" %}
                    Créer
                {% else %}
                    Editer
                {% endif %}
            ">

        {{ form_end(editionForm)}}
    </div>

{% endblock %}