{% extends 'adminBase.html.twig' %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">Tableau de bord</h1>

    <div class="row">
        <div class="col-lg-12">

            <h2>Les cartes <a href="{{ path('add_card') }}"><img class="ml-2" src="{{asset('IMG/add_circle_outline-white-24dp.svg')}}" alt="ajouter"></a></h2>

            <table class="table table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Contenu</th>
                        <th>Descriptions</th>
                        <th>Categories</th>
                        <th class="text-center">Edition</th>
                        <th class="text-center">Editer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in allCards %}
                        <tr class="yellow-card">
                            <td class="color-card">{{ card.yellowContent.content.name }}</td>
                            <td class="color-card">{{ card.yellowContent.content.description }}</td>
                            <td class="color-card">
                                {% for category in card.yellowContent.content.category %}
                                    {% if loop.first %}
                                        {{ category.title }}
                                    {% else %}
                                        - {{ category.title }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td rowspan="2" class="text-center align-middle">({{ card.edition.title }})</td>
                            <td class="text-center align-middle" rowspan="2"><span class="material-icons"><a href="{{ path('edit_card', {'id' : card.id }) }}"><img src="{{asset('IMG/create-white-18dp.svg')}}" alt="éditer"></a></span>
                        </tr>
                        <tr class="blue-card">
                            <td class="color-card">{{ card.blueContent.content.name }}</td>
                            <td class="color-card">{{ card.blueContent.content.description }}</td>
                            <td class="color-card">
                                {% for category in card.blueContent.content.category %}
                                    {% if loop.first %}
                                        {{ category.title }}
                                    {% else %}
                                        - {{ category.title }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="row mt-4 d-flex flex-wrap justify-content-between">
        <div class="col-lg-6 col-md-12">

            <h2>Les Catégories <a href="{{ path('add_category') }}"><img class="ml-2" src="{{asset('IMG/add_circle_outline-white-24dp.svg')}}" alt="ajouter"></a></h2>

            <table class="table table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Catégories</th>
                        <th>Catégorie parente</th>
                        <th>Descriptions</th>
                        <th class="text-center">Couleur</th>
                        <th class="text-center">Editer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for category in allCategories | sortbyfield('title') %}
                        <tr>
                            <td>{{ category.title }}</td>
                            <td>
                                {% for parentCat in category.parentCategory %}
                                    {% if loop.first %}
                                        {{ parentCat.title }}
                                    {% else %}
                                        - {{ parentCat.title }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ category.description }}</td>
                            <td class="text-center"><span class="fa fa-circle" style="color : {{ category.color }}"></span></td>
                            <td class="text-center"><span class="material-icons"><a href="{{ path('edit_category', {'id' : category.id }) }}"><img src="{{asset('IMG/create-white-18dp.svg')}}" alt="éditer"></a></span>
                        </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-lg-6 col-md-12">

            <h2>Les Editions <a href="{{ path('add_edition') }}"><img class="ml-2" src="{{asset('IMG/add_circle_outline-white-24dp.svg')}}" alt="ajouter"></a></h2>

            <table class="table table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Editions</th>
                        <th class="text-center">Logos</th>
                        <th class="text-center">Editer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for edition in allEditions %}
                        <tr>
                            <td>{{ edition.title }}</td>
                            <td class="text-center">
                                {% if edition.logo is empty %}
                                    <span class="fa fa-circle" style="color : {{ edition.color }}"></span>
                                {% else %}
                                    <span style="color : {{ edition.color }}">{{ edition.logo }}</span>
                                {% endif %}
                            </td>
                            <td class="text-center"><span class="material-icons"><a href="{{ path('edit_edition', {'id' : edition.id }) }}"><img src="{{asset('IMG/create-white-18dp.svg')}}" alt="éditer"></a></span>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
