{% extends 'adminBase.html.twig' %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">Tableau de bord</h1>

    <main>
        <div class="row">
            <h2 class="mt-4 col-12">Contenu</h2>
            <div class="col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body"><a class="text-white font-weight-bold" href="{{ path('admin_show_content') }}">Toutes les Réponses</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white" href="{{ path('admin_add_content') }}">Ajouter une Réponse</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body"><a class="text-white font-weight-bold" href="{{ path('admin_show_categories') }}">Toutes les Catégories</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white" href="{{ path('admin_add_category') }}">Ajouter une Catégorie</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="mt-4 col-12">Jeux</h2>
            <div class="col-md-6">
                <div class="card bg-success text-white mb-4">
                    <div class="card-body"><a class="text-white font-weight-bold" href="{{ path('admin_show_cards') }}">Toutes les Cartes Time's Up</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white" href="{{ path('admin_add_card') }}">Ajouter une carte Time's Up</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card bg-primary text-white mb-4">
                    <div class="card-body"><a class="text-white font-weight-bold" href="{{ path('admin_show_editions') }}">Toutes les Editions</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white" href="{{ path('admin_add_edition') }}">Ajouter une Edition</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="mt-4 col-12">Administration</h2>
            <div class="col-12">
                <div class="card bg-warning text-white mb-4">
                    <div class="card-body"><a class="text-white font-weight-bold" href="">Tous les Utilisateurs</a></div>
                    <div class="card-footer d-flex align-items-center justify-content-between">
                        <a class="small text-white" href="#">Ajouter un Utilisateur</a>
                        <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
