{% extends 'adminBase.html.twig' %}

{% block body %}

    <h1 class="pageTitle mb-4 text-center">Tableau de bord</h1>

    <div class="row">
        <div class="col-12">

            {# <h2>Les Utilisateurs <a href="{{ path('admin_add_user') }}"><img class="ml-2" src="{{asset('IMG/add_circle_outline-white-24dp.svg')}}" alt="ajouter"></a></h2> #}
            <h2>Les Utilisateurs</h2>

            <table id="utilisateurs_table" class="table table-dark table-hover table-striped">
                <thead>
                    <tr>
                        <th>Pseudos</th>
                        <th>Adresses Email</th>
                        <th>Rôles</th>
                        <th class="text-center">Compte Actif</th>
                        <th class="text-center">Editer</th>
                        <th class="text-center">Supprimer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in allUsers | sortbyfield('username') %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                            <td>{% for role in user.roles %}
                                    {% if loop.first %}
                                        {{ role }}
                                    {% else %}
                                        - {{ role }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td class="text-center">
                                {% if user.isActive %}
                                    oui
                                {% else %}
                                    non
                                {% endif %}
                            </td>
                            <td class="text-center"><span class="material-icons"><a href="{{ path('admin_edit_user', {'user' : user.id }) }}"><i class="fas fa-edit"></i></a></span>
                            <td class="text-center"><span class="material-icons"><a class="col-red" onclick="return confirm('Etes-vous sûre de vouloir supprimer l'utilisateur {{ user.username }} ?')" href="{{ path('admin_delete_user', {'user' : user.id }) }}"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                        </tr>
                    
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
